.button {
 text-align: center;
 background-color: lightblue;
 margin: 8px 4px;
 font-size: 30px;
 border:black;
}

#map {
  text-align: center;
  border: thin solid black;
  height: 500px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#background {
    background-color: lightpink;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inline{
    display: inline;
}