.button {
 text-align: center;
 background-color: pink;
 margin: 8px 4px;
 font-size: 30px;
}

#map {
  text-align: center;
  border: thin solid black;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#chart-container{
    border: thin solid black;
    height:500px;
    width:600px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

#background {
    background-color: lightpink;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#active{
    background-color: lightblue;
    border:black;
    font-size:35px;
}

#navbar{
    text-align: left;
}

#loginbar{
    text-align:right;
}